@import '../../../styles/base/variables';

.analyzer-component-wrapper {
  display: flex;
  gap: 16px;
  width: $wrapper;
  margin: 0 auto;
  flex-wrap: wrap;
  font-family: $font;

  .analyzer-content-title {
    box-sizing: border-box;
    padding: 48px 0 0px 0;
    width: 100%;
    border-bottom: 1px solid $border-color;
    margin-bottom: 16px;

    h3 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    p {
      margin: 8px 0;
      line-height: 1.2rem;
    }
  }

  .analyzer-content-manager {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    flex-grow: 1;
    padding: 8px;
    height: 60vh;
    box-sizing: border-box;
  }

  .analyzer-result-list {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    width: 33.333333%;
    box-sizing: border-box;
    padding: 16px 8px;
    height: 60vh;
    overflow-x: hidden;
    margin-bottom: 48px;
  }
}

@media only screen and (max-width: 960px) {
  .analyzer-content-manager {
    width: 100%;
  }

  .analyzer-component-wrapper {
    width: 94%;
  
    .analyzer-result-list  {
      width: 100%;
    }
  }
}

