$wrapper: 64%;
$border-radius: 8px;
$border-radius: 8px;
$border-radius-btn: 4px;
$primary-color: #2196f3;
$primary-color-hover: #1976D2;
$primary-color-disabled: #05519c;
$secondary-color: #5f6368;
$error-color: rgb(243, 14, 14);
$spinner-color: #e6e2e2;
$secondary-color-hover: #3e4246;
$border-color-active: $primary-color;
$border-radus: 8px;
$border-color: $secondary-color;

$font: system-ui;
$light-background: rgb(247, 244, 244);
